---
title: "Blog"
---

{% include favorite-posts.html %}

<h2>All articles</h2>

{% assign post_date = false %}
{% for post in site.posts %}
    {% assign this_date = post.date | date: "%Y" %}
    {% if post_date != this_date  %}
        <h3>{{ this_date }}</h3>
    {% endif %}
    <p>
        <a href="{{ post.url }}">{{ post.title }}</a><br />
        <span class="micro">
            {{ post.date | date: "%b %d, %Y" }}
            {% if post.categories.size > 0 %}
                | 
                {% for category in post.categories %}{% if forloop.first == false %},{% endif %} {{ category }}{% endfor %}
            {% endif %}
        </span>
    </p>
    {% assign post_date = post.date | date: "%Y" %}
{% endfor %}