<div class="spacing notification">
    <div class="media-object">
        <div class="media-object__media">
            <img src="https://daveredfern.com/assets/images/profile.jpg" alt="A photo of Dave Redfern" height="150" width="150" loading="lazy" class="round" />
        </div>
        <div class="media-object__body">
            <p><strong>Hi. I’m Dave Redfern.</strong> I work with some of the world’s most sophisticated companies, helping to design and develop user&#8209;centered experiences that deliver measurable returns.</p>
            <p>Read more <a href="/about/">about me</a>, see my <a href="/now/">now page</a>, read my <a href="/blog/">articles</a>, subscribe to <a href="/newsletter/">my newsletter</a>, follow me on <a href="https://twitter.com/daveredfern/" rel="noopener noreferrer">Twitter</a>, or <a href="/contact/">get in touch</a>.</p>
        </div>
    </div>
</div>