<h2>Where to go next</h2>
<ol>
  <li><strong>If you’re new</strong>, <a href="/about/">let me introduce myself</a>.</li>
  <li><strong>If you want to see what I’m up to</strong>, I maintain a <a href="/now/">now page</a>.</li>
  <li><strong>If you’d like to see a list of everything I’ve wrote</strong> see my <a href="/blog/">index page</a>.</li>
  <li><strong>I’d love to hear from you</strong>, <a href="/contact/">send me an email</a> or follow me on <a href="https://www.twitter.com/daveredfern">Twitter</a>.</li>
</ol>