<!-- Grab all the content from the site (both pages and articles) !-->
{% assign all_content = site.pages | concat: site.posts %}

<!-- Create an empty array ready to add pages that include the current URL -->
{% assign referenced_content = '' | split: '' %}

<!-- Loop through every page on the website -->
{% for post in all_content %}
    <!-- Put the content into a variable -->
    {% assign content = post.content | strip_newlines %}

    <!-- If the content contains the current URL, it doesn’t reference itself, isn’t the homepage, offline page, or service worker -->
    <!-- I’m sure there is a better way to do this -->
    {% if
        content contains page.url and
        page.url != post.url and 
        post.url != "/offline/" and 
        post.url != "/" and
        post.url != "/sw.js"
    %}
        <!-- Add page to array -->
        {% assign referenced_content = referenced_content | push: post %}
    {% endif %}
{% endfor %}

<!-- How big is the list of pages? -->
{% assign referenced_content_size = referenced_content | size %}

<!-- If we have some referenced pages show this section -->
{% if referenced_content_size > 0 %}
    <!-- Display the title !-->
    <h2>{{ referenced_content_size }} linked reference{% if referenced_content_size > 1 %}s{% endif %}</h2>
    <!-- Display each referenced post -->
    {% for post in referenced_content %}
        {% include blog-article.html %}
    {% endfor %}
{% endif %}