{% comment %} Grab all the content from the site (both pages and articles) {% endcomment %}
{% assign all_content = site.pages | concat: site.posts %}

{% comment %} Create an empty array ready to add pages that include the current URL {% endcomment %}
{% assign referenced_content = '' | split: '' %}

{% comment %} Loop through every page on the website {% endcomment %}
{% for post in all_content %}
    {% comment %} Put the content into a variable {% endcomment %}
    {% assign content = post.content | strip_newlines %}

    {% comment %} If the content contains the current URL, it doesn’t reference itself, isn’t the homepage offline page, or service worker {% endcomment %}
    {% comment %} I’m sure there is a better way to do this {% endcomment %}
    {% if
        content contains page.url and
        page.url != post.url and 
        post.url != "/offline/" and 
        post.url != "/" and
        post.url != "/sw.js" and
        post.url != "/search.js"
    %}
        {% comment %} Add page to array {% endcomment %}
        {% assign referenced_content = referenced_content | push: post %}
    {% endif %}
{% endfor %}

{% comment %} How big is the list of pages? {% endcomment %}
{% assign referenced_content_size = referenced_content | size %}

{% comment %} If we have some referenced pages show this section {% endcomment %}
{% if referenced_content_size > 0 %}
    {% comment %} Display the title {% endcomment %}
    <h2>{{ referenced_content_size }} linked reference{% if referenced_content_size > 1 %}s{% endif %} to “{{ page.title }}”</h2>
    {% comment %} Display each referenced post {% endcomment %}
    <ul>
        {% for post in referenced_content %}
            {% include blog-article.html %}
        {% endfor %}
    </ul>
{% endif %}

{% if page.tags %}
    <p> 
        {% for tag in page.tags %}
            <a href="/tag/{{ tag | slugify }}" class="search-chip">{{ tag }}</a> 
        {% endfor %}
    </p>
{% endif %}