/* Variables */

:root {
	--color: #111111;

	--primary-color: #0E40F2;
	--light-primary-color: #E6EBFF;
	--dark-primary-color: #082079;

	--background-color: #fff;

	--light-color: #eeeeee;
	--mute-color: #dddddd;
	--selection-color: #feff91;

	--font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #eeeeee;

		--primary-color: #E99BC8;
		--light-primary-color: #56414d;
		--dark-primary-color: #efc3dc;

		--background-color: #161616;

		--light-color: #333333;
		--mute-color: #444444;
	}
}

/* Global */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
    scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

html,
input,
textarea,
button {
	line-height: 1.6;
	color: var(--color);
	font-family: var(--font-family);
	font-size: 1em;
}

html {
	font-size: calc(.9em + 0.3vw);
}

/* Links */

a,
a:link {
	color: var(--primary-color);
}

a:hover {
	background-color: var(--light-primary-color);
	outline: .15em solid var(--light-primary-color);
}

a:focus {
	background-color: var(--primary-color);
	color: var(--background-color);
	outline: .15em solid var(--primary-color);
}

/* Highlight color */

::-moz-selection {
	background: var(--selection-color);
	/* WebKit/Blink Browsers */
}

::selection {
	background: var(--selection-color);
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: var(--selection-color);
	/* Gecko Browsers */
}

/* Spacing for elements */

p,
ol,
ul,
blockquote,
pre,
form,
label,
.media-embed,
.media-object {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	letter-spacing: -0.01em;
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	scroll-margin-top: 1em;
}

h1 {
	font-size: calc(1.8em + .5vw);
}

hr {
	height: 1px;
	border: 0;
	border-bottom: 2px solid var(--mute-color);
	outline: 0;
	clear: both;
	margin: calc(1.8em + .6vw) 0;
	width: 30%;
}

blockquote {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border-left: 3px solid var(--color);
	padding-left: 1.2em;
	padding-right: 1.2em;
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
}

@media(min-width: 44em) {
	blockquote {
		margin-left: calc(-1.2em - 3px);
	}
}

li {
	padding-left: 0.5em;
	margin-bottom: 0.3em;
}

@media(min-width: 44em) {
	div > ul:not(.inline-list),
	div > ol {
		padding-left: 0;
		margin-left: -0.5em;
	}
}

/* Code */

code {
	padding: 0.1em 0.5em;
	border-radius: 5px;
	vertical-align: text-top;
	background-color: var(--light-color);
	font-size: 0.85em;
	color: var(--color);
}

pre code {
	display: block;
	padding: 1.4em;
	overflow-x: auto;
}

/* Media */

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

iframe {
	width: 100%;
}

/* Custom font styles */

.lead {
	font-size: 1.2em;
}

.micro {
	font-size: 0.8em;
}

.highlight,
a.highlight {
	color: var(--primary-color) !important;
}

a.highlight:focus {
	color: var(--background-color) !important;
}

.mute,
a.mute {
	color: var(--mute-color) !important;
}

/* Inline list */

.inline-list {
	padding-left: 0;
}

.inline-list li {
	padding-left: 0;
	display: inline;
	list-style: none;
	margin-right: calc(0.5em + 0.5vw);
}

/* Container */

.container {
	max-width: calc(34rem + 12vw);
	width: 100%;
	padding-left: 6vw;
	padding-right: 6vw;
	margin-left: auto;
	margin-right: auto;
}

/* Spacing */

.spacing {
	margin-bottom: calc(1em + 2vw);
	margin-top: calc(1em + 2vw);
}

/* Forms */

label {
	display: block;
}

input {
	max-width: 26em;
}

input,
textarea {
	padding: .5em 1em;
	width: 100%;
	margin-top: .5em;
	background-color: var(--background-color);
	border: 2px solid var(--color);
	border-radius: 5px;
}

textarea {
	min-height: 10em;
}

input:focus,
textarea:focus {
	border-color: var(--primary-color);
}

/* Visibility classes */

.hidden {
	display: none !important;
}

/* Button */

a.button,
input[type="submit"],
button {
	-webkit-appearance: none;
	padding: .5em 1.2em;
	border-radius: 5px;
	font-size: inherit;
	letter-spacing: -0.01em;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: auto;
	fill: currentColor;
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	color: var(--background-color);
	white-space: inherit;
	text-decoration: none;
}

a.button:hover,
input[type="submit"]:hover,
button:hover {
	background-color: var(--dark-primary-color);
	border-color: var(--dark-primary-color);
	outline: 0;
}

/* Search chip */

a.search-chip {
	padding: 0.1em .8em;
    border-radius: 100px;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    margin-top: 0.3em;
    display: inline-block;
	margin-bottom: .3em;
	margin-right: 0.2em;
    font-size: 0.85em;
}

a.search-chip:hover,
a.search-chip:focus {
	outline: 0;
}

a.search-chip.is-active {
	background-color: var(--primary-color);
	color: var(--background-color);
}

/* Tag */

.tag {
	background-color: var(--primary-color);
	color: var(--background-color);
	display: inline-block;
	border-radius: 5px;
	padding: 0.1em 0.5em;
	vertical-align: text-top;
	font-size: 0.65em;
	font-family: var(--heading-font-family);
}

/* Media object */

.media-embed {
	position: relative;
	overflow: hidden;
	padding-top: calc(100% / (16 / 9));
}

.media-embed--43 {
	padding-top: calc(100% / (4 / 3));
}

.media-embed>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Wave */

@-webkit-keyframes wave {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	25% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg)
	}

	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	75% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}

	to {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
}

@keyframes wave {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	25% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg)
	}

	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	75% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}

	to {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
}

.wave {
	display: inline-block;
	-webkit-animation: wave .5s 4 ease-in-out;
	animation: wave .5s 4 ease-in-out;
	-webkit-transform-origin: 70% 80%;
	-ms-transform-origin: 70% 80%;
	transform-origin: 70% 80%;
}

/* Icon */

.icon {
	height: .8em;
    width: .8em;
}

.space-left {
	margin-left: .25em;
}

/* Header - hack to make the wrapping of the header nicer */

@media(max-width: 30em) {
	.header li:first-child {
		display: block;
	}
}

/* Media object */

.media-object {
	display: flex;
}

.media-object__media {
	width: 15%;
	min-width: 80px;
	margin-right: 1em;
	flex-shrink: 0;
}

.media-object__body {
	flex-grow: 1;
}

.media-object__body > *:first-child {
	margin-top: 0;
}

.media-object__body > *:last-child {
	margin-bottom: 0;
}

.round {
	border-radius: 100px;
	overflow: hidden;
}

/* Anchor links */

.anchor-link,
.anchor-link:link {
	color: var(--color);
	margin-left: .35em;
}

.anchor-link svg {
	height: .8em;
	width: .8em;
}

@media(min-width: 44em) {
	h2[id],
	h3[id] {
		position: relative;
	}

	.anchor-link,
	.anchor-link:link {
		position: absolute;
		top: -.2rem;
		left: -2rem;
		padding: .2rem;
		margin-left: 0;
	}

	.anchor-link svg {
		height: 1rem;
		width: 1rem;
	}
}