:root {
	--color: #222222;
	--primary-color: #035094;
	--light-primary-color: #D9E5F4;
	--dark-primary-color: #001E5F;
	--bg-color: #fff;
	--lightest-color: #fff;
	--light-color: #ccc;
	--mute-color: #ccc;
	--selection-color: #feff91;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #fafafa;
		--primary-color: #6ed2cb;
		--light-primary-color: #172F30;
		--dark-primary-color: #356C6D;
		--bg-color: #141414;
		--lightest-color: #000;
		--light-color: #333;
		--mute-color: #333;
	}
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures;
}

html,
input,
textarea,
button {
	line-height: 1.618;
	color: var(--color);
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	letter-spacing: -0.01em;
	font-size: 1em;
}

html {
	font-size: calc(.95em + 0.4vw);
	min-height: 0vw;
}

a,
a:link {
	color: var(--primary-color);
}

a:hover {
	background-color: var(--light-primary-color);
	outline: .15em solid var(--light-primary-color);
}

a:focus {
	background-color: var(--primary-color);
	color: var(--bg-color);
	outline: .15em solid var(--primary-color);
}

::-moz-selection {
	background: var(--selection-color);
}

::selection {
	background: var(--selection-color);
}

::-moz-selection {
	background: var(--selection-color);
}

p,
ol,
ul:not(.inline-list),
blockquote,
pre,
form,
label {
	max-width: 50ch;
}

p,
ol,
ul,
blockquote,
pre,
form,
label,
.media-embed,
.media-object {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	letter-spacing: -0.02em;
	margin-top: 1.5em;
	margin-bottom: 0.6em;
	scroll-margin-top: 1em;
}

h1 {
	font-size: calc(1.8em + 2.5vw);
	font-weight: 800;
	max-width: 22ch;
	margin-bottom: 1em;
}

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
	margin-top: 0;
}

hr {
	height: 1px;
	border: 0;
	border-bottom: 1px solid var(--mute-color);
	outline: 0;
	clear: both;
	margin: calc(1.8em + .6vw) 0;
}

blockquote {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border-left: 3px solid var(--color);
	padding-left: 1.2em;
	margin-left: 0;
	font-style: italic;
}

div>ul:not(.inline-list),
div>ol {
	padding-left: 1.8em;
}

li {
	margin-bottom: 0.3em;
}

code {
	padding: 0.1em 0.3em;
	border-radius: 5px;
	vertical-align: text-top;
	background-color: var(--lightest-color);
	font-size: 0.8em;
	color: var(--color);
	border: 1px solid var(--light-color);
}

pre code {
	display: block;
	padding: 1.2rem;
	overflow-x: auto;
	margin-left: -1.2rem;
	margin-right: -1.2rem;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}

@media(min-width: 41.8rem) {
	pre code {
		border: 1px solid var(--light-color);
		border-radius: 5px;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

iframe {
	width: 100%;
}

.lead {
	font-size: 1.2em;
}

.micro {
	font-size: 0.8em;
}

.inline-list {
	padding-left: 0;
	margin-left: -.3em;
	margin-top: .8em;
	margin-bottom: .8em;
}

.inline-list li {
	padding-left: 0;
	margin-bottom: 0;
	display: inline-block;
	list-style: none;
	margin-right: .5vw;
}

.inline-list a {
	padding: .3em;
	display: inline-block;
}

.spacing {
	margin-bottom: calc(1em + 4vw);
	margin-top: calc(1em + 4vw);
}

.no-spacing {
	margin-top: 0;
	margin-bottom: 0;
}

@media(max-width: 40em) {
	.hidden-mobile {
		display: none;
	}
}

label {
	display: block;
}

input {
	max-width: 26em;
}

input,
textarea {
	padding: .5em 1em;
	width: 100%;
	margin-top: .5em;
	background-color: var(--lightest-color);
	border: 2px solid var(--color);
	border-radius: 5px;
}

textarea {
	min-height: 10em;
}

input:focus,
textarea:focus {
	border-color: var(--primary-color);
}

a.button,
input[type="submit"],
button {
	-webkit-appearance: none;
	padding: .5em 1.2em;
	border-radius: 5px;
	font-size: inherit;
	letter-spacing: -0.01em;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: auto;
	fill: currentColor;
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	color: var(--bg-color);
	white-space: inherit;
	text-decoration: none;
}

a.button:hover,
input[type="submit"]:hover,
button:hover {
	background-color: var(--dark-primary-color);
	border-color: var(--dark-primary-color);
	outline: 0;
}

a.search-chip {
	padding: 0.3em .8em;
	border-radius: 100px;
	border: 2px solid var(--primary-color);
	text-decoration: none;
	display: inline-block;
	margin-top: .3em;
	margin-bottom: .3em;
	margin-right: .3em;
	font-size: 0.85em;
	font-weight: bold;
}

a.search-chip:hover,
a.search-chip:focus {
	outline: 0;
}

a.search-chip.is-active {
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.media-embed {
	position: relative;
	overflow: hidden;
	padding-top: calc(100% / (16 / 9));
}

.media-embed--43 {
	padding-top: calc(100% / (4 / 3));
}

.media-embed>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.media-object__media {
	width: 20%;
	min-width: 60px;
	margin-left: 1em;
	margin-bottom: 1em;
	float: right;
}

.media-object__body>*:first-child {
	margin-top: 0;
}

.media-object__body>*:last-child {
	margin-bottom: 0;
}

@media(min-width: 48em) {
	.media-object {
		display: flex;
	}

	.media-object__media {
		width: 15%;
		margin: 0 1em 0 0;
		flex-shrink: 0;
	}

	.media-object__body {
		flex-grow: 1;
	}
}

a[rel*="noopener"]::after {
	content: "\00A0↗";
}

.round {
	border-radius: 100px;
	overflow: hidden;
}

.container {
	padding-left: calc(1em + 4vw);
	padding-right: calc(1em + 4vw);
}

.wave {
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0.0deg)
	}
	10% {
		transform: rotate(14.0deg)
	}
	20% {
		transform: rotate(-8.0deg)
	}
	30% {
		transform: rotate(14.0deg)
	}
	40% {
		transform: rotate(-4.0deg)
	}
	50% {
		transform: rotate(10.0deg)
	}
	60% {
		transform: rotate(0.0deg)
	}
	100% {
		transform: rotate(0.0deg)
	}
}