<aside class="container spacing">
  <div class="notification">
    <h2>Where to go now</h2>
    <ol>
      <li><strong>If you’re new</strong>, <a href="/about/">let me introduce myself</a>.</li>
      <li><strong>If you want to see what I’m up to</strong>, I maintain a <a href="/now">now page</a>.</li>
      <li><strong>If you enjoyed this</strong> and would like to read more like it, see all my <a href="/blog/">blog posts</a>.</li>
      <li><strong>If you’d like to contact me</strong>, feel free to <a href="/contact">send me an email</a> or follow me on <a href="https://www.twitter.com/daveredfern">Twitter</a>.</li>
    </ol>
  </div>
</aside>