---
layout: compress
---

<!doctype html>
<html lang="en-US">
<head>

  {% comment %} Page setting {% endcomment %}
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="utf-8">


  {% if page.seo_title %}
    {% assign page_title = page.seo_title %}
  {% else %}
    {% assign page_title = page.title %}
  {% endif %}

  {% comment %} Title {% endcomment %}
  <title>{{ page_title }} - {{ site.title }}</title>

  {% comment %} Preconnect for assets {% endcomment %}
  <link rel="preconnect" href="https://eagle.daveredfern.com" crossorigin>

  {% comment %} Favicon {% endcomment %}
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-status-bar" content="#1C606D">
	<meta name="msapplication-TileColor" content="#1C606D">
  <meta name="theme-color" content="#fff">

  {% comment %} Misc meta information {% endcomment %}
  <meta itemprop="description" name="description" content="{% if page.url == "/" %}{{ site.description | truncate: 150  }}{% else %}{{ page.content | markdownify | strip_html | truncate: 150 }}{% endif %}" />
  <meta name="author" content="{{ site.title }}">
  <meta name="robots" content="all" />

  {% comment %} RSS feed {% endcomment %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title}}’s Feed" href="{{ site.url }}/feed.xml" />

  {% comment %} Social meta information {% endcomment %}
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{%if page_title %}{{ page_title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="og:description" content="{% if page.url == "/" %}{{ site.description | truncate: 150  }}{% else %}{{ page.content | markdownify | strip_html | truncate: 150 }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{%if page_title %}{{ page_title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.url == "/" %}{{ site.description | truncate: 150  }}{% else %}{{ page.content | markdownify | strip_html | truncate: 150 }}{% endif %}">
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:card" content="summary">

  {% comment %} Canonical url {% endcomment %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  {% comment %} CSS {% endcomment %}
  <style>
      {% include styles.css %}
  </style>

</head>
<body>

  <div class="container section">

    {% include header.html %}

    <div role="main">
      {% if page.type == 'tag' %}

        <h1>Content in “{{ page.title }}”</h1>

        <p>All of the following articles have been tagged with “{{ page.title }}”:</p>

        {% assign all_content = site.pages | concat: site.posts %}
        
        <ul>
          {% for post in all_content %}
            {% if post.tags contains page.title %}
              {% include blog-article.html %}
            {% endif %}
          {% endfor %}
        </ul>

      {% else %}

        <h1>{{ page.title }}</h1>

        {% if page.hide_meta != true %}
          {% include meta.html %}
        {% endif %}

        {% assign the_content = content | extlinks %}
        {% include anchor_headings.html html=the_content anchorBody="#" anchorClass="anchor-link" anchorTitle="Anchor to this heading" h_min=1 h_max=3 %}

        {% if page.url == "/blog/" %}
          {% include tags.html %}
          {% include favorite-posts.html %}
          {% include blog-listing.html %}
        {% endif %}

        {% if page.url == "/" or page.url == "/offline/" %}
          {% include favorite-posts.html %}
        {% endif %}

      {% endif %}

      {% if page.hide_references != true %}
        {% include references.html %}
      {% endif %}

    </div>

    {% if page.hide_about != true %}
      {% include about.html %}
    {% endif %}

    {% include footer.html %}

  </div>

  {% comment %} Instant pages {% endcomment %}
  <script>
    /* ServiceWorker is a progressive technology. Ignore unsupported browsers */
    if(
      'serviceWorker' in navigator &&
      window.location.href.indexOf('daveredfern') > -1
    ) {
      navigator.serviceWorker.register('/sw.js');
    }
  </script>
  <script src="/assets/js/quicklink.js"></script>
  <script>
    window.addEventListener('load', () => {
      quicklink.listen();
    });
  </script>
  <script src="https://eagle.daveredfern.com/script.js" site="KVVWNWUA" defer></script>

  {% comment %} Hack to support non-breaking spaces in subfonts {% endcomment %}
  <div class="hidden">
    &hyphen;
    &#8208;
    &#8209;
    &#8231;
    &#8259;
    &#173;
  </div>

</body>
</html>