<!doctype html>
<html lang="en-US">
<head>

  <!-- Page setting -->
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="utf-8">


  {% if page.seo_title %}
    {% assign page_title = page.seo_title %}
  {% else %}
    {% assign page_title = page.title %}
  {% endif %}

  <!-- Title -->
  <title>{{ page_title }} - {{ site.title }}</title>

  {% comment %} Preconnect for assets {% endcomment %}
  <link rel="preconnect" href="https://daveredfern.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#000000">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-status-bar" content="#000000">
	<meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#fafafa">

  <!-- Misc meta information -->
  <meta itemprop="description" name="description" content="{% if page.url == "/" %}{{ site.description | truncate: 150  }}{% else %}{{ page.content | strip_html | truncate: 150 }}{% endif %}" />
  <meta name="author" content="{{ site.title }}">
  <meta name="robots" content="all" />

  <!-- RSS feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title}}’s Feed" href="{{ site.url }}/feed.xml" />

  <!-- Social meta information -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{%if page_title %}{{ page_title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="og:description" content="{% if page.url == "/" %}{{ site.description | truncate: 150  }}{% else %}{{ page.content | strip_html | truncate: 150 }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{%if page_title %}{{ page_title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.url == "/" %}{{ site.description | truncate: 150  }}{% else %}{{ page.content | strip_html | truncate: 150 }}{% endif %}">
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:card" content="summary">

  <!-- Canonical url -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <!-- CSS -->
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
      {% include styles.css %}
      {% include photos.css %}
  </style>

</head>
<body>

  {% include header.html %}

  <div role="main" class="container">

    <h1>{{ page.title }}</h1>

    {% if page.hide_meta != true %}
      {% include meta.html %}
    {% endif %}

    {% assign the_content = content | extlinks %}
    {{ the_content }}

  </div>

  <div class="photos spacing" id="photos">
    {% for photo in site.data.photos %}
      <div class="photo" tabindex="-1" style="background-image: url(//res.cloudinary.com/daveredfern/image/upload/f_auto,q_auto,w_20,e_blur:800/photos/{{ photo.url }})">
        <img data-src="//res.cloudinary.com/daveredfern/image/upload/f_auto,q_auto,w_1000/photos/{{ photo.url }}" alt="{{ photo.name }}" title="{{ photo.name }}"  class="lazyload">
      </div>
    {% endfor %}
  </div>

  <div class="container">
      
    {% if page.url == "/blog/" %}
      {% include tags.html %}
      {% include favorite-posts.html %}
      {% include blog-listing.html %}
    {% endif %}

    {% if page.url == "/" or page.url == "/offline/" %}
      {% include favorite-posts.html %}
    {% endif %}

  </div>

  {% if page.hide_about != true %}
    {% include about.html %}
  {% endif %}

  {% include footer.html %}


  <!-- Instant pages -->
  <script defer>
    {% include lazysizes.js %}
  </script>
  <script>
    /* ServiceWorker is a progressive technology. Ignore unsupported browsers */
    if(
      'serviceWorker' in navigator &&
      window.location.href.indexOf('daveredfern') > -1
    ) {
      navigator.serviceWorker.register('/sw.js');
    }
  </script>
  <script src="/assets/js/instantpage.js" type="module" defer></script>

</body>
</html>