/* Variables */

:root {
	--color: #111111;

	--primary-color: #0E40F2;
	--light-primary-color: #E6EBFF;
	--dark-primary-color: #082079;

	--background-color: #fff;

	--light-color: #eeeeee;
	--mute-color: #dddddd;
	--selection-color: #feff91;

	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #eeeeee;

		--primary-color: #E99BC8;
		--light-primary-color: #56414d;
		--dark-primary-color: #efc3dc;

		--background-color: #161616;

		--light-color: #333333;
		--mute-color: #444444;
	}
}

/* Global */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
input,
textarea,
button {
	line-height: 1.5;
	color: var(--color);
	font-family: var(--font-family);
	font-size: 1em;
}

html {
	background: var(--background-color);
	font-size: calc(.95em + 0.45vw);
}

/* Links */

a,
a:link {
	color: var(--primary-color);
}

a:hover {
	background-color: var(--light-primary-color);
	outline: .15em solid var(--light-primary-color);
}

a:focus {
	background-color: var(--primary-color);
	color: var(--background-color);
	outline: .15em solid var(--primary-color);
}

/* Highlight color */

::selection {
	background: var(--selection-color);
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: var(--selection-color);
	/* Gecko Browsers */
}

/* Spacing for elements */

p,
ol,
ul,
blockquote,
pre,
form,
label,
.media-object {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	letter-spacing: -0.01em;
	margin-top: 1.4em;
	margin-bottom: 0.7em;
	font-weight: 900;
	scroll-margin-top: 1em;
}

h1 {
	font-size: calc(1.8em + .8vw);
}

hr {
	height: 1px;
	border: 0;
	border-bottom: 3px solid var(--mute-color);
	outline: 0;
	clear: both;
	margin-top: calc(1em + 2vw);
	margin-bottom: calc(1em + 2vw);
}

blockquote {
	border-left: 3px solid var(--color);
	padding-left: 1.4em;
	padding-right: 1.4em;
	margin-left: 0;
	margin-right: 0;
}

li {
	padding-left: 0.5em;
	margin-bottom: 0.2em;
}

/* Code */

code {
	padding: 0.1em 0.5em;
	border-radius: 5px;
	vertical-align: text-top;
	background-color: var(--light-color);
	font-size: 0.85em;
	color: var(--color);
}

pre code {
	display: block;
	padding: 1.4em;
	overflow-x: auto;
}

/* Media */

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

iframe {
	width: 100%;
}

/* Custom font styles */

.lead {
	font-size: 1.2em;
}

.micro {
	font-size: 0.85em;
}

.highlight,
a.highlight {
	color: var(--primary-color) !important;
}

a.highlight:focus {
	color: var(--background-color) !important;
}

.mute,
a.mute {
	color: var(--mute-color) !important;
}

/* Inline list */

.inline-list {
	padding-left: 0;
}

.inline-list li {
	padding-left: 0;
	display: inline;
	list-style: none;
	margin-right: calc(0.5em + 0.5vw);
}

/* Container */
.container {
	max-width: calc(36rem + 4vw);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(1em + 2vw);
	padding-right: calc(1em + 2vw);
}

/* Spacing */

.spacing {
	margin-bottom: calc(1em + 3vw);
	margin-top: calc(1em + 3vw);
}

/* Notification */

.notification {
	border: 2px solid var(--primary-color);
	border-bottom-width: 3px;
	padding: calc(1em + .6vw);
	border-radius: 5px;
}

.notification>*:first-child {
	margin-top: 0;
}

.notification>*:last-child {
	margin-bottom: 0;
}

/* Header */

.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 2;
	overflow: hidden;
	border-bottom: 3px solid var(--primary-color);
	background: var(--background-color);
	transition: transform .3s, box-shadow .3s;
}

.is-scrolled .header {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.is-scrolled--downwards .header {
	transform: translateY(-150%);
}

.is-scrolled--upwards .header {
	transform: translateY(0);
}

/* Forms */

label {
	display: block;
}

input {
	max-width: 26em;
}

input,
textarea {
	padding: .5em 1em;
	width: 100%;
	margin-top: .5em;
	background-color: var(--background-color);
	border: 2px solid var(--color);
	border-radius: 5px;
}

textarea {
	min-height: 10em;
}

input:focus,
textarea:focus {
	border-color: var(--primary-color);
}

/* Visibility classes */

.hidden {
	display: none !important;
}

/* Button */

a.button,
input[type="submit"],
button {
	-webkit-appearance: none;
	padding: .5em 1.2em;
	border-radius: 5px;
	font-size: inherit;
	letter-spacing: -0.01em;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: auto;
	fill: currentColor;
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	color: var(--background-color);
	white-space: inherit;
	text-decoration: none;
}

a.button:hover,
input[type="submit"]:hover,
button:hover {
	background-color: var(--dark-primary-color);
	border-color: var(--dark-primary-color);
	outline: 0;
}

/* Search chip */

a.search-chip {
	padding: 0.2em .8em;
	border-radius: 100px;
	border: 2px solid var(--primary-color);
	margin-right: .3em;
	text-decoration: none;
}

a.search-chip:hover,
a.search-chip:focus {
	outline: 0;
}

/* Tag */

.tag {
	background-color: var(--primary-color);
	color: var(--background-color);
	display: inline-block;
	border-radius: 5px;
	padding: 0.1em 0.5em;
	vertical-align: text-top;
	font-size: 0.7em;
}

/* Media object */

.media-object {
	position: relative;
	overflow: hidden;
	padding-top: calc(100% / (16 / 9));
}

.media-object--43 {
	padding-top: calc(100% / (4 / 3));
}

.media-object>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}