/* Variables */

:root {
	--default-color: rgb(50, 50, 50);

	--primary-color: rgb(9, 57, 212);
	
	--mute-color: rgb(210, 210, 210);

	--light-color: rgb(238, 238, 238);

	--background-color: rgb(255, 255, 255);

	--link-color: var(--primary-color);
	--link-hover-color: var(--default-color);
	--link-visited-color: rgb(106, 54, 118);
	
	--selection-color: rgba(255, 255, 102, 0.75);

	--hr-border-color: var(--mute-color);
	--blockquote-border-color: var(--default-color);
	--well-border-color: var(--default-color);

	--font-family: helvetica, sans-serif;
	--heading-font-family: var(--font-family);

	--max-width: 36rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--default-color: rgb(240, 240, 240);	
		--background-color: rgb(20, 20, 20);
	}
}

/* Global */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	background: var(--background-color);
	font-size: calc(1em + 0.3vw);
	line-height: 1.5;
	color: var(--default-color);
	font-family: var(--font-family);
}

/* Links */

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:focus {
	background-color: var(--link-color);
	color: var(--background-color);
	outline: .2em solid var(--link-color);
}

/* Highlight color */

::selection {
  background: var(--selection-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--selection-color); /* Gecko Browsers */
}

/* Max width items for readability */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
hr,
pre {
	max-width: 36rem;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	letter-spacing: -0.01em;
	margin-top: 1.6em;
	margin-bottom: 0.7em;
	font-family: var(--heading-font-family);
}

h1 {
	font-size: calc(2em + 0.4vw);
}

hr {
	height: 1px;
	border: 0;
	border-bottom: 3px solid var(--hr-border-color);
	outline: 0;
	clear: both;
	margin-top: calc(1em + 2vw);
	margin-bottom: calc(1em + 2vw);
}

blockquote {
	border-left: 3px solid var(--blockquote-border-color);
	padding-left: 1.4em;
	padding-right: 1.4em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

ol,
ul {
	padding-left: 20px;
}

li {
	padding-left: 0.5em;
	margin-bottom: 0.2em;
}

/* Code */

code {
	padding: 0.15em 0.5em;
	border-radius: 5px;
    vertical-align: text-top;
    background-color: var(--light-color);
	font-size: 0.85em;
	border-bottom-width: 3px;
	color: var(--default-color);
}

pre code {
    display: block;
    padding: 1.4em;
	overflow-x: auto;
}

/* Media */

img {
	display: block;
	max-width: 100%;
	height: auto;
}

iframe {
	width: 100%;
}

/* Custom font styles */

.lead {
	font-size: 1.2em;
}

.micro {
	font-size: 0.85em;
}

.highlight,
a.highlight {
	color: var(--primary-color) !important;
}

a.highlight:focus {
	color: var(--background-color) !important;
}

.mute,
a.mute {
	color: var(--mute-color) !important;
}

/* Inline list */

.inline-list {
	padding-left: 0;
}

.inline-list li {
	padding-left: 0;
	display: inline;
	list-style: none;
	margin-right: calc(0.5em + 0.5vw);
}

/* Container */
.container {
	max-width: calc(38rem + 4vw);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(1em + 2vw);
	padding-right: calc(1em + 2vw);
}

/* Spacing */

.spacing {
	margin-bottom: calc(1em + 3vw);
	margin-top: calc(1em + 3vw);
}

/* Notification */

.notification {
	border: 1px solid var(--mute-color);
	border-bottom-width: 3px;
	padding: calc(1em + 1vw);
	border-radius: 5px;
}

.notification > *:first-child {
	margin-top: 0;
}

.notification > *:last-child {
	margin-bottom: 0;
}