---
layout: compress
---

<!doctype html>
<html lang="en-US">
<head>

  <!-- Page setting -->
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="utf-8">

  <!-- Title -->
  {% if page.seo_title %}
    <title>{{ page.seo_title }} - {{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/assets/images/favicon/site.webmanifest">
	<meta name="msapplication-TileColor" content="#2774e7">
  <meta name="theme-color" content="#ffffff">

  <!-- Misc meta information -->
  <meta itemprop="description" name="description" content="{% if post.excerpt %}{{ post.excerpt | truncate: 160 }}{% else %}{{ site.description | truncate: 150  }}{% endif %}" />
  <meta name="author" content="{{ site.title }}">
  <meta name="robots" content="all" />

  <!-- RSS feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title}}’s Feed" href="{{ site.url }}/feed.xml" />

  <!-- Social meta information -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:card" content="summary">

  <!-- Canonical url -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

</head>
<body>

  {% include header.html %}

  <section>
    <h1>{{ page.title }}</h1>
    {% if page.url != "/" and page.url != "/blog/" and page.url != "/contact/" %}
      <p>
        Last updated: {{ page.last_modified_at | date: "%b %d, %Y" }}
        {% if page.date %}
          <br />Published: {{ page.date | date: "%b %d, %Y" }}
        {% endif %}
      </p>
    {% endif %}
    {{ content }}
  </section>

  {% include cta.html %}

  {% include footer.html %}

  <!-- Instant pages -->
  <script src="{{ site.url }}/assets/js/instantpage.js"></script>

</body>
</html>