<!doctype html>
<html lang="en-US">
<head>

	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
	<meta name="msapplication-TileColor" content="#2774e7">
	<meta name="theme-color" content="#ffffff">
  
</head>
<body>

  {% include header.html %}

  <section>
    {{ content }}
  </section>

  {% include cta.html %}

  {% include footer.html %}

</body>
</html>